$grey: rgb(40, 40, 40);
$white: rgb(229, 229, 229);
$dark: rgb(20, 20, 20);

@mixin generalIcon {
  padding: 15px;
  border-radius: 50px;
  align-content: center;
  cursor: pointer;
  float: left;
}

.bar {
  display: flex;
  justify-content: space-between;
  color: $white;
  background-color: $dark;
  padding: 5px;
  border-radius: 50px;
}

.searchBarWrapper {
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  &:hover {
    background-color: $grey;
  }
}

.searchBar {
  background-color: $dark;
  border-radius: 0px 50px 50px 0px;
  font-size: 20px;
  border: none;
  color: $white;
  width: 238px;
  float: left;

  &:focus {
    outline: none;
  }
}

.iconWrapper {
  @include generalIcon();
  &:hover {
    background-color: $grey;
  }
}

.searchIconWrapper {
  @include generalIcon();
}

.gray {
  background-color: $grey;
}

.borderRadiusAdjustment {
  border-radius: 50px 0px 0px 50px;
}

.grayHover {
  &:hover {
    background-color: $grey;
  }
}

.icons {
  padding: 1px 2px 0px 2px;
}
